<div *ngIf="player" class="player-card">
    <h2>{{player.name | titlecase}}</h2>
    <strong>{{player.number}}</strong>
    <small>{{player.position}}</small> <br />
    <p>{{player.nacionality | titlecase}}</p>
    <p *ngIf="player.international">Internacional</p>
    <div class="buttons">
        <a [routerLink]="['details/' + player.id]" class="btn btn-primary">Detalles</a>
        <a [routerLink]="['edit/' + player.id]" class="btn btn-secondary">Editar</a>
        <button class="btn btn-danger" (click)="deletePlayer()">Eliminar</button>
    </div>
</div>
